[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NEXT_PUBLIC_TMDB_API_KEY = 0c774b38cfc6a172707758b3a349b155

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200